/** @format */

@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	min-width: 320px;
	background-color: rgb(12, 5, 41);
	background-image: url(../img/mayilbackdrop.jfif);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Hind Madurai", sans-serif;
}

.headlineh1 {
	font-size: 3em;
	color: rgb(26, 16, 129);
}

#சூரியஉதயம் {
	text-align: center;
	font-weight: 500;
	font-size: 1em;
	padding: 0.5vh;
	border: 1px solid #000;
	background: rgb(5, 48, 88);
	border-radius: 25px;
	color: rgb(227, 199, 22);
}

.சாமம்-தொழில் {
	margin: 5px auto;
	color: aliceblue;
	text-align: center;
	width: 333px;
	height: 333px;
	background: rgba(110, 98, 139, 0.833);
	border-radius: 20px;
	border: 1px solid #fff;
	box-shadow: 0 0 5px rgba(0 0 0 /0.5);
	position: relative;
}

.தொழில்-பட்சி {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5%;
	background: rgba(255, 255, 255, 0.02);
	box-shadow: inset 0 0 5px rgba(0 0 0 /0.2);
	transition: top 2s;
	transition-timing-function: cubic-bezier(0.2, 0.7, 1, 0.3);
}

.தொழில்-பட்சி:hover {
	top: 0%;
}

.injecttime {
	border: 1px solid rgb(101, 100, 100);
	box-shadow: 0 0 5px rgba(0 0 0 /0.77);
	border-radius: 25px;
	font-family: "Hind Madurai", sans-serif;
	color: rgb(5, 5, 74);
	width: 100%;
	position: absolute;
	bottom: 1%;
}
.தொழில்{
	color: rgba(240, 240, 255, 0.767);
}
.தொழில்1 {
	border: 5px solid goldenrod;
	box-shadow: inset 0 0 5px rgba(0 0 0 /0.77);
}
.தொழில்2 {
	border: 4px solid goldenrod;
	box-shadow: inset 0 0 5px rgba(0 0 0 /0.77);
}
.தொழில்3 {
	border: 3px solid goldenrod;
	box-shadow: inset 0 0 5px rgba(0 0 0 /0.77);
}
.தொழில்4 {
	border: 2px solid goldenrod;
	box-shadow: inset 0 0 5px rgba(0 0 0 /0.77);
}
.தொழில்5 {
	border: 1px solid gold;
	box-shadow: inset 0 0 5px rgba(0 0 0 /0.77);
}
.time {
	font-size: 1.2em;
	font-weight: 500;
}
table{
	font-weight: 400;
	font-size: 0.8em;
	color: bisque;
}

@media screen and (min-width: 768px) {
	body {
		margin: 0 auto;
		min-width: 768px;
		max-width: 1368px;
	}
	.சாமம் {
		display: flex;
		margin-bottom: 2vh;
		
	}
	.சாமம்-தொழில் {
		width:calc(95vw/5 ) ;
		height: calc(80vh/5 );
	}
}

.அட்சரம்{
	position: absolute;
	left: 0;
}
.அட்சரம் img{
	width: 108px;
	height: 108px;
}

.opacit{
	opacity: 0.5;
}