/** @format */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
	font-family: "Lato", sans-serif;
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

body{
background-color: rgb(26, 70, 110);
background-image: url(./moonpic4.jpg);
background-repeat: no-repeat;
background-size: cover;

}


.headline {
	font-size: 25px;
	min-height: 10%;
	text-align: center;
	padding: 10px;
	font-weight: 600;
	color: burlywood;
	background-color: rgba(0, 0, 0, 0.7);
	text-shadow: 2px 2px 2px #076be5;
	
}

.himg img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.navlink {
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}
.navlink li{
	color: aliceblue;
	align-content: flex-start;
	padding: 5px;
	cursor: pointer;


}

.navlink a{
 
	color: aliceblue;
	

}

.dinapatchi {
   background-color: rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: center;
   flex-direction: row;
}

.dina{
	color: bisque;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px;
}

.pagaliravu-valarpirai , .pagaliravu-theipirai{
	
	display: flex;
	justify-content: center;
	align-items: center;
   flex-direction: column;
	box-shadow: 10px 10px 10px -5px rgba(215, 209, 209, 0.2),
		-10px -9px 10px -5px rgba(220, 210, 210, 0.2),
		inset 27px 27px 20px -15px rgba(237, 235, 235, 0.3),
		inset -21px -27px 20px -15px rgba(233, 229, 229, 0.3);
}

.talippu1 {
   min-width: 60px;
	text-align: center;
	font-weight: 400;
	color: burlywood;
	padding: 20px;
}



.dbl {
	display: flex;
	align-items: center;
	justify-content: center;
   flex-direction: column;
	
	box-shadow: inset 27px 27px 20px -15px rgba(237, 235, 235, 0.5),
		inset -21px -27px 20px -15px rgba(233, 229, 229, 0.5);
	border-radius: 50%;
	width:  190px;
	height: 190px;
}

.pagaliravu-sunday,
.pagaliravu-monday,
.pagaliravu-tuesday,
.pagaliravu-wednesday,
.pagaliravu-thursday,
.pagaliravu-friday,
.pagaliravu-saturday {
	
	border: 1px solid burlywood;
}

.kilamai {
	color: brown;
	text-align: center;
}

.table img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.talippud img{
	height: 75px;
	width:  75px;
	border-radius: 50%;
   margin-bottom: 0px;
}


.talippun img{
	height: 75px;
	width:  75px;
	border-radius: 50%;
   margin-top: 0px;
}

.talippud , .talippun {
   display: flex;
   font-size: large;
}


.படுபட்சி {
	display: flex;
	justify-content: center;
	align-items: center;
	color: azure;
}
.படுபட்சி img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}
.talippud {
	text-align: center;
	font-weight: 400;
   align-items: center;
	color: rgb(131, 167, 177);
	box-shadow: inset 27px 27px 20px -15px rgba(236, 230, 230, 0.5),
		inset -21px -27px 20px -15px rgba(232, 225, 225, 0.5);
		border-radius: 10%;
		
	
	
}
.talippun {
	text-align: center;
	font-weight: 400;
	align-items: center;
	color: rgb(131, 167, 177);
	box-shadow: inset 27px 27px 20px -15px rgba(16, 16, 16, 0.5),
		inset -21px -27px 20px -15px rgba(4, 4, 4, 0.5);
	border-radius: 10%;
	
}

@media screen and (min-width: 999px) {
	.dinapatchi {
		min-height: 80vh;
		min-width: 100vw;
		display: flex;
		justify-content: center;
		gap: 50px;
		align-items: center;
      flex-direction: column;
     
      
	}
   .pagaliravu-valarpirai , .pagaliravu-theipirai{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
   }
 

	.headline {
		min-height: 20vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
