

/** @format */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
	font-family: "Lato", sans-serif;
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

body{
background-color: rgb(9, 13, 57);

background-repeat: no-repeat;
background-size: cover;

}
.datetime{
   font-size: medium;
   padding: 0px;
   color: aliceblue;
   text-align: center;
}


.headline {
	font-size: 25px;
	min-height: 10%;
	text-align: center;
	padding: 10px;
	font-weight: 600;
	color: burlywood;
	background-color: rgba(0, 0, 0, 0.7);
	text-shadow: 2px 2px 2px #076be5;
	
}

.himg img {
	height: 82px;
	width: 60px;
	
}

.navlink ul {
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}
.navlink a{
	padding: 10px;
	cursor: pointer;
	color: burlywood;
}

.dinapatchi {
	min-height: 80vh;
	min-width: 100vw;
   background-color: rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: center;
  
}

.dina{
	color: bisque;
	text-align: center;
	
	
	
}

.pagaliravu-valarpirai , .pagaliravu-theipirai{
	
	display: flex;
	justify-content: center;
	align-items: center;
   flex-direction: column;
	box-shadow: 5px 5px 5px -5px rgba(215, 209, 209, 0.0),
		-5px -5px 5px -5px rgba(220, 210, 210, 0.2),
		inset 27px 27px 20px -15px rgba(237, 235, 235, 0.0),
		inset -21px -27px 20px -15px rgba(233, 229, 229, 0);
		border-radius: 20px;
		gap: 5px;
		
	
}



.talippu1 {
   min-width: 60px;
	text-align: center;
	font-weight: 400;
	color: burlywood;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	
		
}



.dbl {
	display: flex;
	align-items: center;
	justify-content: center;
   flex-direction: column;
	box-shadow: inset 27px 27px 20px -15px rgba(237, 235, 235, 0.5),
		inset -21px -27px 20px -15px rgba(233, 229, 229, 0.5);
	border-radius: 50%;
	min-width: 185px;
	height: 185px;
	
}

.pagaliravu-sunday,
.pagaliravu-monday,
.pagaliravu-tuesday,
.pagaliravu-wednesday,
.pagaliravu-thursday,
.pagaliravu-friday,
.pagaliravu-saturday {
	
	border: 0px solid burlywood;
	box-shadow: inset 27px 27px 20px -15px rgba(237, 235, 235, 0.1),
		inset -21px -27px 20px -15px rgba(233, 229, 229, 0.1);
		border-radius: 20px;
		
}

.kilamai {
	color: brown;
	text-align: center;
}

.talippud img{
	height: 95px;
	width:  66px;
	border-radius: 50%;
   
}


.talippun img{
	height: 95px;
	width:  66px;
	border-radius: 50%;
   
}

.talippud , .talippun {
   display: flex;
   font-size: large;
	
}


.படுபட்சி {
	display: flex;
	justify-content: center;
	align-items: center;
	color: azure;
}
.படுபட்சி img {
	height: 99px;
	width:  66px;
	border-radius: 50%;
}

.talippud {
	text-align: center;
	font-weight: 400;
   align-items: center;
	
	color: rgb(131, 167, 177);
	box-shadow: inset 27px 27px 20px -15px rgba(236, 230, 230, 0.9),
		inset -21px -27px 20px -15px rgba(232, 225, 225, 0.2);
		border-radius: 50%;
		
	
	
}
.talippun {
	text-align: center;
	font-weight: 400;
	align-items: center;
	color: rgb(131, 167, 177);
	box-shadow: inset 27px 27px 20px -15px rgba(16, 16, 16, 0.5),
		inset -21px -27px 20px -15px rgba(4, 4, 4, 0.5);
	border-radius: 50%;
	
}

button{
	cursor: pointer;
	--border-radius: 15px;
	--border-width: 4px;
	appearance: none;
	
	position: relative;
	padding: 0.2em 1em;
	border: 0;
	background-color: #212121;
	z-index: 2;
}
button h2{
	color: rgb(218, 223, 227);
}

button::after {
	--m-i: linear-gradient(#000, #000);
	--m-o: content-box, padding-box;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: var(--border-width);
	border-radius: var(--border-radius);
	background-image: conic-gradient(
		  #488cfb,
		  #29dbbc,
		  #ddf505,
		  #ff9f0e,
		  #e440bb,
		  #655adc,
		  #488cfb
	  );
	-webkit-mask-image: var(--m-i), var(--m-i);
	mask-image: var(--m-i), var(--m-i);
	-webkit-mask-origin: var(--m-o);
	mask-origin: var(--m-o);
	-webkit-mask-clip: var(--m-o);
	mask-composite: exclude;
	-webkit-mask-composite: destination-out;
	filter: hue-rotate(0);
	animation: rotate-hue linear 500ms infinite;
	animation-play-state: paused;
  }
  
  button:hover::after {
	animation-play-state: running;
  }
  
  @keyframes rotate-hue {
	to {
	 filter: hue-rotate(1turn);
	}
  }
  
  button,
  button::after {
	box-sizing: border-box;
  }
  
  button:active {
	--border-width: 5px;
  }

@media screen and (min-width: 999px) {
	.dinapatchi {
		min-height: 80vh;
		min-width: 100vw;
		display: flex;
      flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 20px;
		padding: 20px;
     
	}
   .pagaliravu-valarpirai , .pagaliravu-theipirai{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
		gap: 20px;
   }

	.headline {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 20vh;
	}
}


