/** @format */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
	font-family: "Lato", sans-serif;
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

.headline {
	font-size: 25px;
	min-height: 10%;
	text-align: center;
	padding: 10px;
	font-weight: 600;
	color: burlywood;
	background-color: black;
	text-shadow: 2px 2px 2px #076be5;
	box-shadow: inset 27px 27px 20px -15px rgba(237, 235, 235, 0.5),
		inset -21px -27px 20px -15px rgba(233, 229, 229, 0.5);
}
.himg img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.pagaliravu-valarpirai {
	background-color: black;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 10px 10px 10px -5px rgba(215, 209, 209,0.2),
		-10px -9px 10px -5px rgba(220, 210, 210,0.2),
      inset 27px 27px 20px -15px rgba(237, 235, 235, 0.5),
		inset -21px -27px 20px -15px rgba(233, 229, 229, 0.5);
		
}
.pagaliravu-theipirai {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: inset 27px 27px 20px -15px rgba(237, 235, 235, 0.5),
		inset -21px -27px 20px -15px rgba(233, 229, 229, 0.5);
}

.pagaliravu-sunday {
	display: flex;
	border: 1px solid burlywood;
	min-width: 370px;
	align-items: center;
	justify-content: center;
}
.pagaliravu-monday {
	background-color: black;
	display: flex;
	border: 1px solid burlywood;
	min-width: 370px;
	align-items: center;
	justify-content: center;
}
.pagaliravu-tuesday {
	background-color: black;
	display: flex;
	border: 1px solid burlywood;
	min-width: 370px;
	align-items: center;
	justify-content: center;
}
.pagaliravu-wednesday {
	background-color: black;
	display: flex;
	border: 1px solid burlywood;
	min-width: 370px;
	align-items: center;
	justify-content: center;
}
.pagaliravu-thursday {
	background-color: black;
	display: flex;
	border: 1px solid burlywood;
	min-width: 370px;
	align-items: center;
	justify-content: center;
}
.pagaliravu-friday {
	background-color: black;
	display: flex;
	border: 1px solid burlywood;
	min-width: 370px;
	align-items: center;
	justify-content: center;
}
.pagaliravu-saturday {
	background-color: black;
	display: flex;
	border: 1px solid burlywood;
	min-width: 370px;
	align-items: center;
	justify-content: center;
}

.table {
	min-height: 50px;
	min-width: 50px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	border: 1px solid brown;
	box-shadow: inset 27px 27px 20px -15px rgba(237, 235, 235, 0.5),
		inset -21px -27px 20px -15px rgba(233, 229, 229, 0.5);
}

.table img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	box-shadow: inset 27px 27px 20px -15px rgba(0, 0, 0, 0.1);
}
.அதிகாரபட்சி {
	display: flex;
	align-items: center;
	justify-content: center;
	color: azure;
	font-size: large;
	box-shadow: inset 27px 27px 20px -15px rgba(255, 253, 253, 0.201),
		inset -21px -27px 20px -15px rgba(227, 221, 221, 0.2);
}
.அதிகாரபட்சி p {
	font-size: medium;
}
.படுபட்சி {
  
	display: flex;
	justify-content: center;
	align-items:flex-end;
	flex-direction: column;
	text-align: center;
	color: azure;
	font-size: large;
	background-color: rgba(4, 4, 4);
}
.படுபட்சி img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	
}
.talippu {
	text-align: center;
	font-weight: 400;
	color: burlywood;
}
.talippu1 {
	text-align: center;
	font-weight: 400;
	color: burlywood;
	padding: 20px;
}

@media screen and (min-width: 999px) {
	.dinapatchi {
		height: 80vh;
		width: 100vw;
		background-color: black;
		display: flex;
		justify-content: center;
		gap: 50px;
		align-items: center;
	}

	.headline {
		min-height: 20vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
