/** @format */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
	font-family: "Lato", sans-serif;
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}



.headline {
	font-size: 25px;
	min-height: 10%;
	text-align: center;
	padding: 10px;
	font-weight: 600;
	color: burlywood;
	background-color: black;
	text-shadow: 2px 2px 2px #076be5;
	box-shadow: inset 27px 27px 20px -15px rgba(237, 235, 235, 0.5),
		inset -21px -27px 20px -15px rgba(233, 229, 229, 0.5);
}
.himg img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}



.pagaliravu-valarpirai , .pagaliravu-theipirai{
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
   flex-direction: column;
	box-shadow: 10px 10px 10px -5px rgba(215, 209, 209, 0.2),
		-10px -9px 10px -5px rgba(220, 210, 210, 0.2),
		inset 27px 27px 20px -15px rgba(237, 235, 235, 0.5),
		inset -21px -27px 20px -15px rgba(233, 229, 229, 0.5);
}


.dbl {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	box-shadow: inset 27px 27px 20px -15px rgba(237, 235, 235, 0.5),
		inset -21px -27px 20px -15px rgba(233, 229, 229, 0.5);
	border-radius: 50%;
	width: 180px;
	height: 180px;
}
.pagaliravu-sunday,
.pagaliravu-monday,
.pagaliravu-tuesday,
.pagaliravu-wednesday,
.pagaliravu-thursday,
.pagaliravu-friday,
.pagaliravu-saturday {
	background-color: black;
	border: 1px solid burlywood;
}

.kilamai {
	color: brown;
	text-align: center;
}

.table img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

.talippud img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
   margin-bottom: 0px;
}


.talippun img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
   margin-top: 0px;
}


.படுபட்சி {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	text-align: center;
	color: azure;
	font-size: large;
	background-color: rgba(4, 4, 4);
}
.படுபட்சி img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}
.talippud {
	text-align: center;
	font-weight: 400;
	color: rgb(131, 167, 177);
}
.talippun {
	text-align: center;
	font-weight: 400;
	color: rgb(131, 167, 177);
}
.talippu1 {
	text-align: center;
	font-weight: 400;
	color: burlywood;
	padding: 20px;
}

@media screen and (min-width: 999px) {
	.dinapatchi {
		min-height: 80vh;
		min-width: 100vw;
		background-color: black;
		display: flex;
		justify-content: center;
		gap: 50px;
		align-items: center;
      flex-direction: column;
      background-image: url(./moonpic2.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      
	}
   .pagaliravu-valarpirai , .pagaliravu-theipirai{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
   }
 

	.headline {
		min-height: 20vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
